body.home {
  background-color: #2980B9;

  .logo {
    color: #FFF;
  }
  .contact {
    margin: 60px 0;
    text-align: center;
  }
  p {
    color: #FFF;
    opacity: 0.8;
    text-align: center;
  }
}